/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@100;400;700&family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
p{
    color: white;
}
img{
    max-width: 100%;
}
a{
    color: black;
    text-decoration: none;
}
h2,h3,h4{
    text-transform: uppercase;
    color: white;
}
/*utilities*/

/*navigation*/
nav.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 5px 20px;
}
nav.menu img{
    height: 32px;
}
img.natgeo-frame{

}
img.natgeo-logo{
    display: none;
}
a.login-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 25px;
}
a.search-link{
    display: none;
}
a.news-link{
    display: none;
}
a.subs-link{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 25px;
    background-color: black;
    color: white;
    padding: 15px;
}
a.menu-link span{
    display: none;   
}

/*header*/

header{
    height: 250px;
    color: white; 
}
p.title{
    text-align: center;
    padding-top: 3.5rem;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}
p.description{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-weight: lighter;    
}
p.description span{
    margin: 0;
    border-bottom: 2px solid gold;
    color: white;  
}
div.border{
    margin-top: 1.5rem;
    margin-left: 48%;
    width: 1.8rem;  
    border-top: 4px solid gold;
}

/*main*/

.main-news{
    background: url(/img/main-news.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 29vh;   
    position: relative;
    width: 90%;
    margin: 1rem;
}
.main-news h3{
    position: absolute;
    bottom: 13rem;
    padding-left: 1rem;
    font-size: 11px;
    letter-spacing: 3px;
}
.main-news p{
    position: absolute;
    bottom: 4.2rem;
    padding-left: 1rem;
    font-size: 38px;
    letter-spacing: 2px;
}
.main-news .main-read{
    position: absolute;
    bottom: 1.5rem;
    padding-left: 1rem;
    font-size: 14px;
    letter-spacing: 3px;
}
  
.second-news{
    background: url(/img/second-news.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 32vh;   
    position: relative;
    width: 90%;
    margin: 1rem;
    margin-top: 1.5rem;
}
.second-news h3{
    position: absolute;
    bottom: 8.5rem;
    padding-left: 1rem;
    font-size: 11px;
    letter-spacing: 3px;
}
.second-news p{
    position: absolute;
    bottom: 4.2rem;
    padding-left: 1rem;
    font-size: 20px;
    letter-spacing: 2px;
}
.second-news .second-read{
    position: absolute;
    bottom: 0.7rem;
    padding-left: 1rem;
    font-size: 14px;
    letter-spacing: 3px;
}

.third-news{
    background: url(/img/third-news.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 32vh;   
    position: relative;
    width: 90%;
    margin: 1rem;
    margin-top: 1.5rem;
}
.third-news h3{
    position: absolute;
    bottom: 13rem;
    padding-left: 1rem;
    font-size: 11px;
    letter-spacing: 3px;
}
.third-news p{
    position: absolute;
    bottom: 4.2rem;
    padding-left: 1rem;
    font-size: 38px;
    letter-spacing: 2px;
}
.third-news .third-read{
    position: absolute;
    bottom: 1.5rem;
    padding-left: 1rem;
    font-size: 14px;
    letter-spacing: 3px;
}
/* end of main */

/* today's picks section */

.todays-picks h2{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 600;
    border-left: 5px solid gold;
}

.pick-element-1 img{
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;   
}
.pick-element-1 .head-pick1{
    margin: 0.7rem;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 3px;
}
.pick-element-1 .head-pick1 span{
    font-weight: 300;
}
.pick-element-1 p{
    letter-spacing: 1px;
    font-size: 15px;
}

.pick-element-2 img{
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}  
.pick-element-2 h3{
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
}
.pick-element-2 p{
    margin: 0.7rem;
    margin-bottom: 3.5rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.pick-element-3 img{
    height: 90px;
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}  
.pick-element-3 h3{
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
}
.pick-element-3 p{
    margin: 0.7rem;
    margin-bottom: 3.5rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.pick-element-4 img{
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}  
.pick-element-4 h3{
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
}
.pick-element-4 p{
    margin: 0.7rem;
    margin-bottom: 3.5rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.pick-element-5 img{
    height: 90px;
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}  
.pick-element-5 h3{
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
}
.pick-element-5 p{
    margin: 0.7rem;
    margin-bottom: 3.5rem;
    font-size: 15px;
    letter-spacing: 1px;
}

.pick-element-6 img{
    width: 5.5rem;
    min-height: 5vh;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}  
.pick-element-6 h3{
    margin-left: 1rem;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
}
.pick-element-6 p{
    margin: 0.7rem;
    margin-bottom: 3rem;
    font-size: 15px;
    letter-spacing: 1px;
}
/* end of today's picks */

.see-more{
    position: absolute;
    min-height: 5vh;
    margin-top: 2.5rem;
    margin-left: 40%;
    text-align: center;   
}
.see-more h2{
    font-size: 13px;
    letter-spacing: 3px;
    border-bottom: 2px solid gold;
}